<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB - Account Page</title>
        <link rel="stylesheet" href="/style-account-page.css"
        <link rel="icon" href="/MakersBnB Logo Just M.svg">
    </head>
    <nav>
      <div>
        <a href="/">
          <img class="resize" src="/logo.png" />
        </a>
      </div>
      <div class="nav_links_container">
        <div class="nav_links"><a href="/account-settings" class="button-link">Account Settings</a></div>
        <a href="/logout" class="button-link">Log out</a>
      </div>
    </nav>
    <body>
        <h1>Welcome <%= @user.name %></h1>
        <div>
        Number of Listings: <%= @listings.length %>
        </div>
        <hr>
        <a href="/listing/new">Add a new listing!</a><br/>
        <h2>View your current properties:</h2>
        <div class="grid-container-container">
        <% @listings.each do |listing| %>
            <div class="grid-container">
                <a class="grid-item" href="/listing/<%= listing.id %>">
                    <h3>Property name: <%= listing.listing_name %></h3>
                    <p>Price per night: £<%= listing.price %></p>
                    <p>Hosted by: <%= listing.host_name %><br /></p>
                    <p>View full details</p>
                </a>
            <div class="row2">
            <a class="additional-box" href="view-requests/listing/<%= listing.id %>">View Requests</a><br />
            <a class="additional-box" href="available_dates/<%= listing.id %>">Add dates</a>
            </div>
            </div>
            <% end %>
        </div>
    </body>
</html>
