<h1>Makersbnb</h1>
<h2><%= @listing.listing_name %></h2>
<div>Description: <%= @listing.listing_description %> </div><br/>
<div>Price per night: £<%= @listing.price %> </div><br/>
<div>Hosted by: <%= @listing.host_name %> </div><br/>

<form action="/book/<%= params[:date_id] %>" method="post">
  <label for="available-dates">Pick a night from available dates:</label>
    <select name="date_id" id="available-dates">
      <% @dates.each do |date| %>
        <option value="<%= date.date_id %>"><%= date.date %></option>
      <% end %>
    </select>
  <button type="submit">Request to book this date!</button>
</form>

<a href='/'>Return to homepage</a>